* {
    margin: 0;
    padding: 0;
}
ul,ol{
    padding: 5px;
    margin: 5px;
}
#nagl {
    background-color: rgb(61, 9, 18);
    color:  grey;
    text-align: center;
    font-size: 45px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor:crosshair;
}

#glowny {
    display: flex;
    height: 50%;

}

#lewy {
    background-color: grey;
    font-size: 20px;
    color: rgb(61, 9, 18);
    float:left;
    padding: 30px;
    width: 20%;
    cursor: cell;
    
}

#srodek {
    background-color: hsl(139, 67%, 8%);
    text-align: center;
    width: 60%;
    padding: 10px;
    cursor: all-scroll;

}

#prawy {
    background-color: grey;
    float: right;
    text-align: center;
    padding: 30px;
    width: 20%;
    cursor: grab;
}

footer {
    background-color: rgb(61, 9, 18);
    color:  grey;
    text-align: center;
    padding: 10px;
    height: 20%;
    cursor: not-allowed;
}
table, th, td {
    border: 1px solid rgb(61, 9, 18);
    border-collapse: collapse;
    background-color: rgb(7, 58, 7);
    color: grey;
    padding: 10px;
    height: 100px;
  }
